#circleTest{
    width: 400px;

}

.stroke {
  stroke-dasharray: 360;
  -webkit-animation: write2 3s linear fowards;
}

@-webkit-keyframes write2 {
    0% {
        stroke-dashoffset: 360;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

body{
    background-color: white;
}

path,
line {
  fill: none;
  stroke: #0000ff;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

/* give the vectors a dashed stroke */
/* give the vectors a dashed stroke */
.stroke-I {
  stroke-dasharray: 8;
  animation: write1 2s linear;
}

.stroke-an {
  stroke-dasharray: 860;
  animation: write2 5s linear;
  animation-delay: 2s;
}

@keyframes write1 {
    0% {
        stroke-dashoffset: 8;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes write2 {
    0% {
        stroke-dashoffset: 860;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

.cls-1{
    fill:none;
    stroke:#000;
    stroke-miterlimit:10;
    stroke-dasharray: 860;
    animation: write2 7s linear;
}
